@font-face{
  font-family: 'Nightmare Codehack';
  src: url('../fonts/Nightmare Codehack.otf') format("opentype");
}

@font-face{
  font-family: 'Star Jedi';
  src: url('../fonts/Starjedi.ttf') format("opentype");
}

body {
  margin: 60px auto;
  width: 70%;
}
nav ul, footer ul {
  font-family:'Star Jedi';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #0095FF;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 3em;
  font-family:'Star Jedi';
}
p {
  font-size: 1.5em;
  font-family;'Verdana';
  line-height: 1.4em;
  color: #00000;
}
footer {
  border-top: 1px solid #50B6E;
  font-size: .8em;
}

ul.posts { 
  margin: 20px auto 40px; 
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}
