@font-face{
  font-family: 'Kremlin';
  src: url('../fonts/kremlin.ttf') format("truetype");
}

@font-face{
  font-family: 'Doctor Glitch';
  src: url('../fonts/Doctor Glitch.otf') format("opentype");
}

body {
  margin: 60px auto;
  width: 70%;
  background-image: url("starwarsbackgrround");
}
nav ul, footer ul {
  font-family:'Kremlin';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li {
  display: inline;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #0095FF;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 3em;
  color: #00000;
  font-family:'Kremlin';
}
p {
  font-size: 1.5em;
  font-family:'Verdana';
  line-height: 1.4em;
  color: #00000;
}
footer {
  border-top: 1px solid #00000;
  font-size: .8em;
}

ul.posts { 
  margin: 20px auto 40px; 
  font-size: 1.5em;
}

ul.posts li {
  list-style: none;
}
